<?xml version="1.0"?>
<config>
	<modules>
		<GuilhermeMedeiros_ButtonColorChanger>
			<version>1.0.0</version>
		</GuilhermeMedeiros_ButtonColorChanger>
	</modules>
	<frontend>
		<layout>
			<updates>
				<buttoncolorchanger>
					<file>buttoncolorchanger.xml</file>
				</buttoncolorchanger>
			</updates>
		</layout>
		<events>
			<controller_action_layout_load_before>
				<observers>
					<buttoncolorchanger_add_css_to_page>
						<class>buttoncolorchanger/observer</class>
						<method>addCssToEnd</method>
					</buttoncolorchanger_add_css_to_page>
				</observers>
			</controller_action_layout_load_before>
		</events>
	</frontend>
	<global>
		<helpers>
			<buttoncolorchanger>
				<class>GuilhermeMedeiros_ButtonColorChanger_Helper</class>
			</buttoncolorchanger>
		</helpers>
		<blocks>
			<buttoncolorchanger>
				<class>GuilhermeMedeiros_ButtonColorChanger_Block</class>
			</buttoncolorchanger>
		</blocks>
		<models>
			<buttoncolorchanger>
				<class>GuilhermeMedeiros_ButtonColorChanger_Model</class>
				<resourceModel>buttoncolorchanger_mysql4</resourceModel>
			</buttoncolorchanger>
			<buttoncolorchanger_mysql4>
				<class>GuilhermeMedeiros_ButtonColorChanger_Model_Resource_Mysql4</class>
				<entities>
					<rule>
						<table>buttoncolorchanger_rules</table>
					</rule>
				</entities>
			</buttoncolorchanger_mysql4>
		</models>
		<resources>
			<buttoncolorchanger_setup>
				<setup>
					<module>GuilhermeMedeiros_ButtonColorChanger</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</buttoncolorchanger_setup>
			<buttoncolorchanger_write>
				<connection>
					<use>core_write</use>
				</connection>
			</buttoncolorchanger_write>
			<buttoncolorchanger_read>
				<connection>
					<use>core_read</use>
				</connection>
			</buttoncolorchanger_read>
		</resources>
	</global>
	<admin>
		<routers>
			<buttoncolorchanger>
				<use>admin</use>
				<args>
					<module>GuilhermeMedeiros_ButtonColorChanger</module>
					<frontName>admin_buttoncolorchanger</frontName>
				</args>
			</buttoncolorchanger>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<buttoncolorchanger>
					<file>buttoncolorchanger.xml</file>
				</buttoncolorchanger>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<design>
			<buttoncolorchanger>
				<class_name>button</class_name>
				<important>1</important>
			</buttoncolorchanger>
		</design>
	</default>
</config> 